<!-- 左侧边栏组件-昵称&个性签名 -->

<template>
    <ul class="aside-text">
        <p class="nickname">浮生若梦</p>
        <p class="feature">浮生若梦，稍纵即逝......</p>
    </ul>
</template>

<script>
    export default {
        name: 'AsideText'
    }
</script>
