<!-- 页脚组件 -->

<template>
    <footer class="footer">
        本站由&nbsp;<a href=".">浮生若梦</a>&nbsp;纯手工打造；
        由&nbsp;<a href="https://cn.vuejs.org/" target="_blank">Vue.js</a>&nbsp;框架强力驱动.
    </footer>
</template>

<script>
    export default {
        name: 'Footer'
    }
</script>